{
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports", "prettier-plugin-sort-imports"]
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-imports",
    "prettier-plugin-sort-imports"
  ]
}
